
.logo-top-1-img
   width: 12rem

.logo-top-1
   padding: 4rem

.logo-top-2
   padding: 4rem

.logo-top-2-img
   width: 18rem
////login box


.login-box
   height: 30rem
   width: 27rem
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center

.login-heading
   margin-bottom: 2rem

.login-form
   text-align: center

   &__group:not(:last-child)
      margin-bottom: 2rem

   &__input
      height: 4rem
      width: 100%
      font-size: 1.5rem
      text-align: center
      font-family: inherit
      color: inherit
      padding: 1.5rem 2rem
      border-radius: .4rem
      border: 1px solid lightgray
      outline: none


   &__label
      display: none

   &__btn
      &,
      &:link,
      &:visited
         text-decoration: none
         color: white
         background-color: var(--color-primary)
         height: 4rem
         width: 100%
         display: inline-block
         border-radius: .2rem
         transition: all .2s
         position: relative
         font-size: 1.5rem
         border: none
         cursor: pointer
         -webkit-appearance: none

      &:hover
         transform: translateY(-1px)
         box-shadow: 0 1rem 2rem rgba(black, .2)
      &:active
         outline: none
         transform: translateY(-5px)
         box-shadow: 0 .5rem 1rem (black, .2)
      &:focus
         outline: none



////"footer" logo
.logo-bottom-img
   display: inline-block
   width: 100%

.logo-bottom
    display: flex
    flex-direction: column
    justify-content: flex-end
    margin: 0 2rem
    