.container
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh


.content-container
    display: flex
    height: 100%
    flex: 4


.header
    display: flex
    justify-content: space-between
    flex: 1


.content
    display: flex
    background-color: #fff
    flex: 3
    align-items: center
    justify-content: center

    
.footer
    width: 30vw
    display: flex
    flex: 1.3
    flex-direction: column
    justify-content: flex-end
    @include respond(iphone5-port)
