.container
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100vh


.content-container
    display: flex
    height: 100%
    width: 100%
    flex: 4
    @include respond(iphone5-port)
       display: block
       position: relative


.header
    display: flex
    align-items: center
    flex: 1
    @include respond(iphone5-land)
        flex-direction: row-reverse
        justify-content: space-between
        padding-right: 15vw
.content
    display: flex
    background-color: #fff
    flex: 4
    align-items: center
    justify-content: center
    @include respond(iphone5-port)
        height: 80vh
        width: 85vw

    
.footer
    flex: 1
    flex-direction: column
    @include respond(iphone5-port)
        overflow: hidden
    
        
